* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: white;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #918844;
    z-index: 6;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

#navbar ul{
    list-style: none;
    display: flex;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

ul a {
    display: block;
    padding: 20px;
    font-size: 24x;
}

ul a:hover {
    background-color: #446191;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #617391;
}

h1{
    font-size: 56px;
    padding-bottom: 13px;
}

#welcome-section p{
    font-style: italic;
    color: #918844;
}

#projects {
    text-align: center;
    padding: 50px 20px;
    background-color: #273245;
}

#projects h2 {
    margin: 80px 0;
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.project-tile {
    background-color: #617391;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    border-radius: 3px;
}

.project-tile:hover span{
    color: white;
}

.card-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-tile p {
    padding: 40px 0;
}

p span {
    color: #617391;
}

#contact {
    background-color: #617391;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 20px;
}

.contact-text h2 {
    font-size: 54px;
}

.contact-text p {
    font-style: italic;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin-top: 80px;
    flex-wrap: wrap;
}

.contact-links a {
    display: inline-block;
    padding: 16px 32px;
    text-shadow: 2px 2px 1px black;
}

.contact-links img {
    height: 26px;
}

footer {
    display: flex;
    font-size: 18px;
    justify-content: flex-end;
    padding: 36px;
    background-color: #617391;
    border-top: 3px solid #918844;
}

@media (max-width: 850px){
    h1{
        text-align: center;
    }
}